@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: linen;
  font-family: "Cabin", sans-serif;
  color: #6f4e37;
}

header nav {
  text-align: center;
  margin: 10px;
  color: #6f4e37;
}

header,
footer,
body {
  padding: 1.5rem;
  padding-bottom: 0;
  text-align: center;
}

h2 {
  padding-bottom: 1rem;
}

.animalsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 2rem;
}

.animalSingle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
}

.card {
  background-color: #e3dac9;
  box-shadow: 0 0 5px #bc987e;
  width: 250px;
  border-radius: 5px;
  display: inline-block;
  margin: 1.2rem;
  text-transform: capitalize;
  filter: grayscale(70%);
  transition: all 1s;
}

.card a {
  font-size: 1rem;
}

.card:hover {
  background-color: #e3dac9;
  box-shadow: 0 0 20px #bc987e;
  border-radius: 5px;
  display: inline-block;
  margin: 1rem;
  text-transform: capitalize;
  filter: grayscale(0%);
  cursor: pointer;
}

.card h3 {
  padding: 0.5rem;
  font-size: 1.2rem;
}

.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.animalCard {
  background-color: #e3dac9;
  box-shadow: 0 0 5px #bc987e;
  width: 290px;
  border-radius: 5px;
  display: inline-block;
}

.animalCard img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.herobanner img {
  width: 70%;
  height: auto;
}

div {
  text-align: center;
  padding: 1rem;
  margin: 20px;
}

p {
  padding: 1rem;
}

button {
  text-align: center;
  background-color: #e3dac9;
  font-family: "Cabin", sans-serif;
  color: #6f4e37;
  margin: 20px;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border-color: #bc987e;
}

button:hover {
  background-color: #e3dac9;
  box-shadow: 0 0 5px #bc987e;
  border-radius: 5px;
  display: inline-block;
  margin: 1rem;
  text-transform: capitalize;
  cursor: pointer;
}

nav ul li {
  display: inline-block;
  margin: 1rem;
}

a {
  color: #6f4e37;
  padding: 0.5rem;
  display: block;
  font-size: 1.2rem;
}

.searchInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

input {
  background-color: whitesmoke;
  border: none;
  box-shadow: 0 0 5px #bc987e;
  width: 400px;
  border-radius: 5px;
  height: 40px;
  font-family: "Oswald", sans-serif;
  color: #6f4e37;
  font-size: 1.2rem;
  padding: 1rem;
}
